openai
gradio
folium==0.19.4
httpx==0.28.1
plotly==6.5.2
langchain==1.2.13
langchain-openai==1.1.10
flask==3.1.3
flask-cors==5.0.1
python-dotenv==1.2.2
markdown==3.10.2
google-cloud-storage
gunicorn
pymongo==4.16.0