#map-cursor {
    position: absolute;
    pointer-events: none;
    z-index: 1000;
    width: 40px;
    height: 40px;
    background-image: url("img/map_pin.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
}

#coordinates {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: white;
    padding: 5px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.bubble-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: lightblue;
    text-align: center;
    position: relative;
    transition: transform 0.3s;
}

.bubble:hover {
    transform: scale(1.2);
    width: 150px !important;
    height: 150px !important;
    z-index: 10;
 }
 
.bubble img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.bubble span {
    position: absolute;
    font-size: 12px;
    border-radius: 50%;
    width: 100%;
    background-color: #2d369bad;
    height: 100%;
    text-align: center;
    overflow: hidden;
    color: white;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s;
}

.bubble:hover span {
    opacity: 1;
    visibility: visible;
}

#image-preview {
    max-width: 100%;
    max-height: 200px;
    margin-top: 10px;
}

#image-upload-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button-container {
    margin-top: 20px;
}

.button-container button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #0056b3;
}